<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h3>2010</h3>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Fariba graduates from The Ohio State University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">with a B.S. in Microbiology and B.A. in French </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h3>2010</h3>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Fariba goes to Paris</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">and becomes an Teaching Assistant through <a href="http://highereducation.frenchculture.org/teach-in-france">TAPIF</a>, teaching all the little French kids how to parler anglais</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h3>2012</h3>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Fariba lands in the music business</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">after being promoted to Assistant Music Promoter at <a href="http://live.thehamiltondc.com">The Hamilton Live</a> in Washington, D.C.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h3>2013</h3>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Fariba makes it in the Big Apple</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">as the Marketing Associate and later Assistant Talent Buyer for <a href="http://www.bbkingblues.com">B.B. King Blues Club</a>, <a href="http://highlineballroom.com">Highline Ballroom</a>, and <a href="http://thehowardtheatre.com">Howard Theatre</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h3>2015</h3>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Fariba reconnects with her roots</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></a>spending some quality time with the family in Iran and dabbling with Python, Java, and Ruby in her spare moments</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h3>2017</h3>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Fariba gets into App Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">a <a href="https://www.appacademy.io">top coding school</a> with a less than 5% acceptance rate</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="../img/web-resume.pdf" id="resume">
                                <div class="timeline-image">
                                    <h3 id="resume-text">Resume</h3>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>