
.splash {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  background-color: rgb(199, 58, 249);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

h1, h3, button {
  margin: 0;
  padding: 0;
  /* font-family: 'Josefin Sans',sans-serif; */
  /* font-family: 'Gugi', cursive; */
  /* font-family: 'Bungee Shade', cursive; */
  /* font-family: 'Monofett', cursive; */
  font-family: 'Chewy', cursive;
  font-family: 'Jua', cursive;
  letter-spacing: .2em;
}

h1#first {
  font-size: 180px;
}

h1#last {
  font-size: 156px;
}

.title-wrapper {
  /* background: radial-gradient(ellipse farthest-corner, rgba(105, 255, 221, .957), rgba(49, 172, 143, 0.5), rgba(199, 58, 249, .5), rgb(199, 58, 249)); */
  border-radius: 50px;
  border: 0px dotted transparent;
  background: rgba(105, 255, 221, .88);
  margin-top: 100px;
  padding: 0;
  height: 40px;
  box-shadow: 4px -3px 114px 59px rgba(105, 255, 221, 0.939);
  width: fit-content;
  align-self: center;
  display: flex;
  flex-direction: row;
}

h3 {
    background: transparent;
    align-self: center;
    font-size: 40px;
    width: fit-content;

}

button {
  margin: 150px 0;
  align-self: center;
  background-color: #222;
  color: whitesmoke;
  font-size: 20px;
  padding: 15px 0;
  border: 0;
  box-shadow: 3px 3px 50px 10px rgb(233, 233, 233);
  width: fit-content;
}

